/*
------------------------------------------------------------------------------------------------------------------------
Everything what should used for all pages
------------------------------------------------------------------------------------------------------------------------
 */
body {
    font-family: bernhard modern, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-image: url('images/modern-empty-room.jpg');
    background-size: cover;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 2em;
    text-align: left;
    font-size: 30px;
}

h1 {
    font-family: bernhard modern, serif;
    font-style: italic;
    text-align: center;
    font-size: 40px;
    color: #000000;
}

footer {
    background: #333;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.headline {
    transition: 0.5s;
}

.headline:hover {
    transform: translate(10%) scale(1.2);

}

/*
------------------------------------------------------------------------------------------------------------------------
Everything what is related to the index.html
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
Searchbar
------------------------------------------------------------------------------------------------------------------------
 */
#searchForm {
    position: relative;
    display: flex;
    top: 15em;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
}

#searchForm:hover {
    animation: zoom-in-zoom-out;
    transform: scale(1.1);
}

#searchInput {
    border: 2px solid #000;
    text-align: center;
    font-family: bernhard modern, serif;
    font-size: 40px;
    height: 50px;
}

#searchInput:hover {
    background: #dcdcdc;
}

#searchButton {
    border: 2px solid #000;
    height: 50px;
    width: 50px;
    background: #ffffff;
}

#searchButton:hover {
    background: #dcdcdc;
}

/*
------------------------------------------------------------------------------------------------------------------------
Everything what is related to the mainpage.html
------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
Loading animation
------------------------------------------------------------------------------------------------------------------------
 */

#loader {
    position: relative;
    top: 3em;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-bar {
    width: 80%;
    height: 30px;
    background: #464646;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    text-align: center;
    font-size: 20px;
    height: 100%;
    background: #50af50;
    transition: width 0.2s ease-in-out;
}

/*
------------------------------------------------------------------------------------------------------------------------
Mainpage Searchbar
------------------------------------------------------------------------------------------------------------------------
*/

#mainpage-searchForm {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1em;
    width: 100%;
    transition: 0.5s;
}

#mainpage-searchForm:hover {
    animation: zoom-in-zoom-out;
    transform: scale(1.1);
}

#mainpage-searchInput {
    border: 2px solid #000;
    text-align: center;
    font-family: bernhard modern, serif;
    font-size: 40px;
    height: 50px;
}

#mainpage-searchInput:hover {
    background: #dcdcdc;
}

#mainpage-searchButton {
    border: 2px solid #000;
    height: 50px;
    width: 50px;
    background: #ffffff;
}

#mainpage-searchButton:hover {
    background: #dcdcdc;
}

/*
------------------------------------------------------------------------------------------------------------------------
iFrame
------------------------------------------------------------------------------------------------------------------------
 */
.iframeContainer {
    position: relative;
    text-align: center;
    padding-top: 4em;
}

#webgl {
    position: relative;
    width: 1280px;
    height: 724px;
    border: black solid 2px;
    border-radius: 10px;
    animation: fadein 2s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
